<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="job">
    <div class="job-main" >
        <div >
           
            
        </div> 
        <div class="nav-menu">
            <div class="menu">
               
                <a class="btn btn-light btn-sm mr-2" href="/adddepartment" role="button" style="background-color: #077b8a; color: white;"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Record</a>
            </div>
        </div>

   </div>
</div>

<div class="row">
    <div class="col-sm-2">
     <%- include('partials/sidebar2') %>
    
    </div>
    <div class="col-sm-8">
    
    
    <div class="table-wrapper-scroll-y my-custom-scrollbar mt-5">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <table class="table table-bordered border-2 table-striped mb-0" id="myTable">
          <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                
              <th scope="col">Department Name</th>
              <th scope="col">Mail Alias</th>
              <th scope="col">Parent Department</th>
              <th scope="col">Added By</th>
              <th scope="col">Added Time</th>
            </tr>
          </thead>
          <tbody>
           
            <% department.forEach(function(department){ %>
    
             <tr>
             
              <td scope="row"> 
                <form action="/deleteDepartment" method="POST">
                    <input type="checkbox" name="checkbox" value ="<%= department._id %>" onclick="this.form.submit()">
                </form>    
            </td>
            <td><input type='button' class='btn btn-sm btn-dark' value='Edit' onclick='editRecord(this)'></td>
              
              <td scope="row"><%= department.deptName %> </td>
              <td id="data"><%= department.Alias %></td>
              <td><%= department.parentDept %> </td>
              <td><%= department.addedBy %></td>
              <td><%= department.addedTime %></td>
             
             
            </tr>
            <% }) %>
          </tbody>
        </table>
      
      </div>
    </div>
    
    </div>
    <%- include('partials/footer') %>
    