<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="job">
    <div class="job-main" >
        <div >
           
            
        </div> 
        <div class="nav-menu">
            <div class="menu">
               
                <a class="btn btn-light btn-sm mr-2" href="/addexitdetails" role="button" style="background-color: #077b8a; color: white;"><i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Record</a>
            </div>
        </div>

   </div>
</div>

<div class="row">
    <div class="col-sm-2">
     <%- include('partials/sidebar2') %>
    
    </div>
    <div class="col-sm-8">
    
    
    <div class="table-wrapper-scroll-y my-custom-scrollbar mt-5">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <table class="table table-bordered border-2 table-striped mb-0" id="myTable">
          <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                
              <th scope="col">Employee Name</th>

              <th scope="col">Separation Date</th>
              <th scope="col">Interviewer</th>
              <th scope="col">Reason for Leaving</th>
              <th scope="col">Working for this Organization Again</th>
              <th scope="col">What did you like the most of the organization</th>
              <th scope="col">Think the organization do to improve staff welfare</th>
              <th scope="col">Anything you wish to share with us</th>
              <th scope="col">Company Vehicle handed in</th>
              <th scope="col">All equipments handed in</th>
              <th scope="col">All library books submitted</th>
              <th scope="col">Security</th>
              <th scope="col">Exit interview conducted</th>
              <th scope="col">Notice period followed</th>
              <th scope="col">Resignation letter submitted</th>
              <th scope="col">Manager/Supervisor clearance</th>
             
            </tr>
          </thead>
          <tbody>
           
            <% exitDetails.forEach(function(details){ %>
    
             <tr>
             
              <td scope="row"> 
                <form action="" method="POST">
                    <input type="checkbox" name="checkbox" value ="<%=  %>" onclick="this.form.submit()">
                </form>    
            </td>
            <td>  <a href="" class="btn btn-sm btn-dark">Edit</a></td>
              
              <td scope="row"><%= details.empName  %> </td>
              <td id="data"><%= details.sepDate %></td>
              <td><%= details.interviewer %> </td>
              <td><%= details.reason %></td>
              <td><%= details.workagain %></td>
             <td><%= details.likeabout %></td>
             <td><%= details.improveStaff %></td>
             <td><%= details.sharewithus %></td>
             <td><%= details.vehicle %></td>
             <td><%= details.equipment %></td>
             <td><%= details.library  %></td>
             <td><%= details.security %></td>
             <td><%= details.exitInterview  %></td>
             <td><%= details.notice %></td>
             <td><%= details.resignationletter %></td>
             <td><%= details.clearance %></td>
             
            </tr>
            <% }) %>
          </tbody>
        </table>
      
      </div>
    </div>
    
    </div>
    <%- include('partials/footer') %>
    